
a=int(input("Number One:  "))
b=int(input("Number Two:  "))
print(f"{a}+{b}={a+b}")
print(f"{a}-{b}={a-b}")
print(f"{a}*{b}={a*b}")
print(f"{a}/{b}={a/b}")
weight = float(input("How Much Weight Do You Have? (KG)  "))
tall = int(input("How Tall Are You? (CM)  "))
tall = tall/100
bmi = weight/(tall*tall)
print (bmi)
if bmi<18.5:
    print("Need More Weight")
elif bmi<25:
    print("Normal")
elif bmi<30:
    print("A Little Fat")
else:
    print("Fat")

c = input("What Is Your Name?")
d = input("How Old Are You?")
d = int(d)
print(f"Your Name is {c}, You Will be {d+1} Next Year, Thanks For Using Our Tool! ")
